# dependencies
node_modules/
.pnp
.pnp.*

# next.js build cache & production
.next/
out/
build/
dist/

# testing
coverage/

# misc
.DS_Store
*.pem

# debug
*.log

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# =========================================
# ENVIRONMENT VARIABLES & SECRETS
# =========================================
.env
.env.local
.env.development
.env.test
.env.production
**/.env
**/.env.*
backend/.env
frontend/.env.local